*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid black 1px; */
}

.title{
    margin-left: 50px;
    border: none;
    padding: 10px 50px;
}

.main-container{
    display: flex;
    flex-direction: row;
}

.aside{
    border-right: black solid 3px;
}

#city-input{
    margin: 5px;
}

#submit{
    margin-left: 15px;
}

ul{
    list-style: none;
}

.forecast-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}