* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

.title {
  text-align: center;
  border: none;
  padding: 50px 10px;
  font-size: 80px;
  background-image: linear-gradient(to top left, rgb(119, 145, 230), white);
}

.main-container {
  display: flex;
  flex-direction: row;
}

.page-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* text-align: center; */
  padding-left: 30px;
  border-right: black solid 3px;
  background-image: linear-gradient(to bottom right, rgb(157, 206, 230), white);
}

#main-icon {
  width: 100px;
}

.weather-icon {
  width: 70px;
}

#city-input {
  margin: 5px;
}

.submit {
  margin-top: 20px;
  margin-left: 15px;
}

ul {
  list-style: none;
}

#search-btn {
  margin: 5px 5px;
  padding: 2px 5px;
  width: 100%;
}

#error-response {
  color: crimson;
}

.custom {
  padding: 5px 5px;
}

.padstyle {
  margin: 10px 10px;
  background: rgb(186, 204, 238);
  background-image: linear-gradient(to bottom right, rgb(186, 204, 238), white);
}

.current-weather {
  margin-left: 1px;
  margin-bottom: 10px;
  background-image: linear-gradient(to bottom right, rgb(210, 245, 243), white);
}

.forecast-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.green {
  background-color: chartreuse;
  padding: 5px;
}

.orange {
  background-color: coral;
  padding: 5px;
}

.red {
  background-color: firebrick;
  padding: 5px;
}

@media screen and (max-width: 768px) {
  .page-main {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .aside {
    border-right: none;
    width: 100%;
  }

  .col-3 {
    width: 80%;
  }
  .title {
    text-align: center;
    border: none;
    padding: 50px 10px;
    font-size: 50px;
  }
}
